.Body {
    text-align: center; 
    background-color:whitesmoke;
    margin:30px;
}
.Body img{
    width: 60%;
    height: 50%;
}
.Body h3{
    color:#282c34;
    font-size: 30px;
}
.Body p{
    color:grey;
    font-size:20px;
}