.Header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    justify-content: center;
    max-height:150px;
    width: 100%;
}

.Header h2{  
    color:rgb(211, 102, 102);
    font-size: 16px;
}

.App-logo {
    pointer-events: none;
    width:50px
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (min-width:768px){
    .Header h2{
      font-size: 25px;
    }
    .App-logo{
      width:100px
    }
  }
  